###
# #%L
# Various plugins for ImageJ.
# %%
# Copyright (C) 2010 - 2013 Board of Regents of the University of
# Wisconsin-Madison.
# %%
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# #L%
###

Plugins>LOCI, "Export as Text", loci.plugins.ExportAsText("")
Plugins>LOCI, "ROI Map", loci.plugins.RoiMap("")
Plugins>LOCI, "-"
Plugins>LOCI, "Intensity Macro for Background Subtraction", CLI.Refresh_Macros("jar:IntensityMacro_Squirrell_Ogle.ijm")
Plugins>LOCI, "Threshold and Calculate Average Intensity with Brush Tools", CLI.Refresh_Macros("jar:TH_3levels_brush_Ogle.ijm")
Plugins>LOCI, "Split Positions", CLI.Refresh_Macros("jar:split-positions.ijm")
Plugins>LOCI, "Tracking Movie", BSH.Refresh_BSH_Scripts("jar:tracking-movie.bsh")
Plugins>LOCI, "-"

Plugins>Stitching, "Visualize Tiles", loci.plugins.stitching.VisualizeTiles("")
Plugins>Stitching, "Add Tiles to ROI Manager", loci.plugins.stitching.TilesToROIs("")
Plugins>Stitching>deprecated, "Stitch OME-TIFFs", loci.plugins.stitching.StitchOmeTiff("")
